<template name="nombreChicaPollo">
	<div class="card">
		<core-toolbar>Hamburgesa Chica Pollo Precio: 130bs </core-toolbar>
			<paper-ripple class="recenteringTouch" fit></paper-ripple>
			<div class="content">
			<img src="http://www.valesdedescuentos.com.ar/congeladas/congeladas/empresasg.jpg" width="50%" height="50%"><br>
			<p>Esta deliciosa hamburgesa viene resuelta con una suculenta milanesa de pollo acompañada de las salsas básicas(tomate, mostaza, mayonesa) y se le puede agregar salsa de ajo, nuestras hamburgesas vienen con tomate, jamon y queso. Si deseas algún extra como huevo o quitar algún ingrediente puedes escribirlo a la derecha </p><br>
			<form method="post" class="chicaPollo">
				<paper-input multiline label="Aquí puedes enviarnos lo que deseas extra o quitar de tú hamburgesa" id="text"></paper-input>
				<input class="btn btn-lg btn-info" type="submit" value="Pedir" />
			</form>
		</div>
	</div>
	<paper-fab icon="arrow-forward" id="siguiente3"></paper-fab>
		<button class="probar"></button>
</template>