<template name="nombreDesubikda">
	<div class="card">
	    <core-toolbar>Hamburgesa Desubikda Precio: 100bs </core-toolbar>
	      <paper-ripple class="recenteringTouch" fit></paper-ripple>
	    <div class="content" >
	    	<img src="http://janiaalvarez.files.wordpress.com/2012/10/sencilla.jpg"><br>

	    	<p>Esta deliciosa hamburgesa viene resuelta con una suculenta carne de res acompañada de las salsas básicas(tomate, mostaza, mayonesa) y se le puede agregar salsa de ajo, nuestras hamburgesas vienen con tomate, jamon y queso. Si deseas algún extra como huevo o quitar algún ingrediente puedes escribirlo a la derecha</p><br>
			<form class="carne">
				<paper-input multiline label="Aquí puedes enviarnos lo que deseas extra o quitar de tú hamburgesa" id="text"></paper-input>
				<input class="btn btn-lg btn-info" type="submit" value="Pedir" />
			</form>
	    </div>
    </div>
    <paper-fab icon="arrow-forward" id="siguiente"></paper-fab>
</template>