
<template name="nombreDesubikte">
	<div class="card">
		<core-toolbar>Hamburgesa Desubikte Precio: 150bs </core-toolbar>
		  <paper-ripple class="recenteringTouch" fit></paper-ripple>
		<div class="content">
			<img src="http://3.bp.blogspot.com/-Z7ShpiD_6DQ/TyTO8stPvLI/AAAAAAAAACk/R7nFd9-vG7U/s1600/1326652653426.jpg"><br>
			<p>Esta deliciosa hamburgesa viene resuelta con dos suculentas carnes de res acompañada de las salsas básicas(tomate, mostaza, mayonesa) y se le puede agregar salsa de ajo, nuestras hamburgesas vienen con tomate, jamon y queso. Si deseas algún extra como huevo o quitar algún ingrediente puedes escribirlo a la derecha </p><br>
			<form method="post" class="dobleCarne">
				<paper-input multiline label="Aquí puedes enviarnos lo que deseas extra o quitar de tú hamburgesa" id="text"></paper-input>
				<input class="btn btn-lg btn-info" type="submit" value="Pedir" />
			</form>
		</div>
	</div>
	<paper-fab icon="arrow-forward" id="siguiente2"></paper-fab>
</template>